<!DOCTYPE html>
<html>
<head>

    <title>Servizio Clienti</title>

</head>
<body>
    <h1 id="room-name">Che domanda hai ?</h1>

    <form id="form">
        <input type="text" name="message"/>
    </form>

    <div id="messages"></div>

    <script type="text/javascript">     
        // ottieni il nome della stanza dall'utente        
        let roomName = "{{ nome }}"


        // Imposta il nome della domanda come titolo
        document.getElementById("room-name").innerHTML = roomName;

        let url = `ws://${window.location.host}/ws/socket-server/${roomName}`        

        const chatSocket = new WebSocket(url)


        // Intercetta errore 
        chatSocket.onerror = function(e) {
            let messages = document.getElementById('messages')
            messages.insertAdjacentHTML('beforeend', '<div>⚠ Errore al momento lo staff è impegnato con una domanda simile, prova a riformularla in un altro modo ⚠</div>')
        }

        // Ascolta i messaggi in arrivo dal WebSocket
        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
            if(data.type === 'chat'){
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `<div>
                                        <p>${data.message}</p>
                                    </div>`)
            }
        }

        // Invia i messaggi al WebSocket quando il form viene inviato        
        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value 
            chatSocket.send(JSON.stringify({
                'message':message
            }))
            form.reset()
        })

    </script>
</body>
</html>