{% extends 'base.html' %}

{% block head %}{% endblock head %}

{% block title%}{{title}}{% endblock %}

{% block content%}

    <center>
    <h1>{{libro}}</h1>

    {% if message == "" %}

    <form action = "/gestione/modificalibro/{{libro.titolo}}/{{libro.autore}}">
        <label for="autore">Autore:</label><br>
        <input type="text" id="autore" name="autore" value={{libro.autore}}><br>
        <label for="titolo">Titolo:</label><br>
        <input type="text" id="titolo" name="titolo" value={{libro.titolo}}><br>
        <label for="pagine">Pagine:</label><br>
        <input type="text" id="pagine" name="pagine" value={{libro.pagine}}><br>
        <input type="submit" value="Modifica Entry">
    </form>

    {% else%}

    <p> {{message}} </p>
    <a href="{% url 'gestione:listalibri' %}">Lista libri</a>

    {% endif %}

    </center>

{% endblock %}