<h2>Profilo utente</h2>
<p>Nome: {{ user }} </p>
<p>Gruppi:
    <ul>
        {% for group in user.groups.all %}
            <li>{{ group.name }}</li>
        {% endfor %}
    </ul>
</p>
{% block content %}
    <h1>I tuoi Paglioni prenotati</h1>
    {% if prenotazioni %}
        <ul>
            {% for prenotazione,primo in prenotazioni.items %}
                {% if primo %}
                    <li> <b> Per le: {{ prenotazione.ora_prenotata }}    al Paglione n.{{ prenotazione.paglione.id }} </b> 
                        <form action="{% url 'cancella_prenotazione' prenotazione.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Cancella Prenotazione">
                        </form>
                    </li>
                {% else %}
                    <li>Per le: {{ prenotazione.ora_prenotata }}    al Paglione n.{{ prenotazione.paglione.id }}
                        <form action="{% url 'cancella_prenotazione' prenotazione.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Cancella Prenotazione">
                        </form>                        
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Nessun paglione prenotato.</p>
    {% endif %}
{% endblock %}
