<h1>prenotazioni per {{ hour|date:"H:i" }}</h1>
{% for paglione, prenotazioni in prenotazioni_paglione.items %}
    <h2>Paglione {{ paglione }}</h2>
    {% if prenotazioni %}
        <ol>
            {% for prenotazione in prenotazioni %}
                <li>{{ prenotazione.utente }} - Prenotato alle: {{ prenotazione.priorità }}     tipo: {{ prenotazione.utente.groups.all.first }}</li>
            {% endfor %}
        </ol>
        {% else %}
            <p>Campo libero</p>
        {% endif %}
    {% if user.is_authenticated %}
        <form action="{% url 'crea' paglione.id hour|date:'Y-m-d H:i:s' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Prenota">
        </form>
    {% endif %}
    {% endfor %}